[Unit]
Description=Hyprland Window Memory
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/systemd/user/hypr-restore-windows.py
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
